<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Data Source=S104-238-98-116;Initial Catalog=bshkarah;Persist Security Info=True;User ID=sa;Password=Aseela@1980" providerName="System.Data.SqlClient"/>

        <!--<add name="DefaultConnection" connectionString="Data Source=SQL5032.myASP.NET;Initial Catalog=DB_A14010_bshkara;User Id=DB_A14010_bshkara_admin;Password=P@ssword123456789;"
            providerName="System.Data.SqlClient" />-->

    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
