<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.0.2" targetFramework="xamarinios10" />
  <package id="Acr.UserDialogs" version="5.0.0" targetFramework="xamarinios10" />
  <package id="Acr.XamForms.UserDialogs" version="5.0.0" targetFramework="xamarinios10" />
  <package id="DLToolkit.Forms.Controls.FlowListView" version="1.0.8" targetFramework="xamarinios10" />
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="xamarinios10" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="xamarinios10" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="xamarinios10" />
  <package id="Splat" version="1.6.2" targetFramework="xamarinios10" />
  <package id="Validation" version="2.2.8" targetFramework="xamarinios10" />
  <package id="WebP.Touch" version="1.0.2" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Forms.KeyboardOverlap" version="1.0.0.4" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="2.5.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Auth" version="1.3.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.iOS" version="4.16.1" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.3.168" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.RangeSlider" version="0.6.9" targetFramework="xamarinios10" />
  <package id="Xamarin.RangeSlider" version="0.6.9" targetFramework="xamarinios10" />
  <package id="XLabs.Core" version="2.3.0-pre02" targetFramework="xamarinios10" />
  <package id="XLabs.Forms" version="2.3.0-pre02" targetFramework="xamarinios10" />
  <package id="XLabs.IoC" version="2.3.0-pre02" targetFramework="xamarinios10" />
  <package id="XLabs.Platform" version="2.3.0-pre02" targetFramework="xamarinios10" />
  <package id="XLabs.Serialization" version="2.3.0-pre02" targetFramework="xamarinios10" />
</packages>