/* Cubic Bezier Transition */
/***
Login page
***/
/* bg color */
.forgotpassword { background-color: #364150 !important; }

.forgotpassword .logo {
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
}

.forgotpassword .content {
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: white;
    border-radius: 7px;
    margin: 40px auto 10px auto;
    overflow: hidden;
    padding: 30px;
    padding-top: 10px;
    position: relative;
    width: 400px;
}

.forgotpassword .content h3 {
    color: #4db3a5;
    font-size: 28px;
    font-weight: 400 !important;
    text-align: center;
}

.forgotpassword .content h4 { color: #555; }

.forgotpassword .content .hint {
    color: #999;
    margin: 15px 0 7px 0;
    padding: 0;
}

.forgotpassword .content .login-form,
.forgotpassword .content .forget-form {
    margin: 0px;
    padding: 0px;
}

.forgotpassword .content .form-control {
    background-color: #dde3ec;
    border: none;
    border: 1px solid #dde3ec;
    color: #8290a3;
    height: 43px;
}

.forgotpassword .content .form-control:focus, .login .content .form-control:active { border: 1px solid #c3ccda; }

.forgotpassword .content .form-control::-moz-placeholder {
    color: #8290a3;
    opacity: 1;
}

.forgotpassword .content .form-control:-ms-input-placeholder { color: #8290a3; }

.forgotpassword .content .form-control::-webkit-input-placeholder { color: #8290a3; }

.forgotpassword .content select.form-control {
    padding-left: 9px;
    padding-right: 9px;
}

.forgotpassword .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}

.forgotpassword .content .form-actions {
    border: 0px;
    border-bottom: 1px solid #eee;
    clear: both;
    margin-left: -30px;
    margin-right: -30px;
    padding: 25px 30px 25px 30px;
}

.forgotpassword .content .form-actions > .btn { margin-top: -2px; }

.login-options {
    margin-bottom: 30px;
    margin-top: 30px;
    overflow: hidden;
}

.login-options h4 {
    color: #7d91aa !important;
    float: left;
    font-size: 15px;
    font-weight: 600;
}

.login-options .social-icons {
    float: right;
    padding-top: 3px;
}

.login-options .social-icons li a {
    -moz-border-radius: 15px 15px 15px 15px !important;
    -webkit-border-radius: 15px 15px 15px 15px !important;
    border-radius: 15px 15px 15px 15px !important;
}

.forgotpassword .content .form-actions .checkbox {
    margin-left: 0;
    padding-left: 0;
}

.forgotpassword .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.forgotpassword .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
}

.forgotpassword .content .form-actions .btn { margin-top: 1px; }

.forgotpassword .content .form-actions .btn {
    font-weight: 600;
    padding: 10px 20px !important;
}

.forgotpassword .content .form-actions .btn-default {
    background-color: #ffffff;
    border: none;
    color: #6c7a8d;
    font-weight: 600;
    padding: 10px 25px !important;
}

.forgotpassword .content .form-actions .btn-default:hover {
    background-color: #fafaff;
    color: #45b6af;
}

.forgotpassword .content .forgetpassword {
    display: inline-block;
    float: right;
    font-size: 14px;
    margin-top: 10px;
}

.forgotpassword .content .check { color: #8290a3; }

.forgotpassword .content .rememberme { margin-left: 8px; }

.forgotpassword .content .create-account {
    -moz-border-radius: 0 0 7px 7px;
    -ms-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    background-color: #6c7a8d;
    border-radius: 0 0 7px 7px;
    margin: 0 -40px -30px -40px;
    padding: 15px 0 17px 0;
    text-align: center;
}

.forgotpassword .content .create-account > p { margin: 0; }

.forgotpassword .content .create-account p a {
    color: #c3cedd;
    font-size: 14px;
    font-weight: 600;
}

.forgotpassword .content .create-account a {
    display: inline-block;
    margin-top: 5px;
}

/* footer copyright */

.forgotpassword .copyright {
    color: #7a8ca5;
    font-size: 13px;
    margin: 0 auto 30px 0;
    padding: 10px;
    text-align: center;
}

@media (max-width: 440px) {
    /***
  Login page
  ***/
    .forgotpassword .forgetpassword { margin-top: 10px; }

    .forgotpassword .content {
        margin-top: 10px;
        width: 280px;
    }

    .forgotpassword .content h3 { font-size: 22px; }

    .forgotpassword {
        display: inline-block;
        margin-top: 20px;
    }

    .forgotpassword-options .social-icons {
        float: left;
        padding-top: 3px;
    }

    .forgotpassword .checkbox { font-size: 13px; }
}